.TimedButton {
  width:200px;
  height:30px;
  position: relative;
}
.TimedButton-label {
  pointer-events: none;
  margin: 0;
  padding: 5px;
  position: absolute;
  overflow: hidden;
}
.TimedButton-label-bottom{
  color: #fff;
  z-index: 1;
}
.TimedButton-label-top{
  color: #000;
  z-index: 3;
}

.TimedButton-progress {
  pointer-events: none;
  display: block;
  width:100%;
  height:100%;
  background: #ccc;
  position: absolute;
  z-index: 2;
}
.TimedButton-button {
  display: block;
  width:100%;
  height:100%;
  text-align: center;
  background: #000;
  border: 1px solid #fff;
}
